.features {
  display: flex;
  align-items: center;
  padding: 0.1rem 0 1rem;
  width: 100%;
}

.featureSvg {
  height: 32px;
  width: 42px;
}

.featureDiv {
  border-radius: 0.25rem;
  margin: 0 -0.5rem;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  border: 1px solid #e3e3e3;
}
