.feature {
  position: relative;
  padding: 1.5rem;
  margin: 0.85rem;
  border-left: var(--ifm-color-secondary) 2px solid;
}

.circle {
  width: 1.9rem;
  height: 1.9rem;
  background-color: var(--ifm-navbar-link-active-color);
  color: #fff;
  border: var(--ifm-color-secondary-darkest) 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  margin-top: -0.25rem;
  margin-right: 0.5rem;
}

.stephead {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.title{
    font-weight: 600 !important;
    margin-bottom: 0rem;
}

.description{
  margin-bottom: 0.25rem;
}

.text-grey {
  color: var(--ifm-menu-color);
}
