.features {
  display: flex;
  align-items: center;
  padding: 0.1rem 0 1rem;
  width: 100%;
}

.featureSvg {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--ifm-color-secondary-darkest);
  color: white;
  padding: 14px;
  margin-bottom: 16px;
}
.featureSvg img {
  margin-bottom: 0px;
  filter: invert(1);
}
.feature h6 {
  margin-bottom: 0px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 33%;
  flex: 1;
}

@media screen and (max-width: 800px) {
  .feature {
    flex-basis: 100%;
  }
}

.featureDiv {
  border-radius: 0.25rem;
  margin: 0 -0.5rem;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  border: 1px solid #e3e3e3;
}

.featureRow {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.featureDescription {
  opacity: 70%;
  font-size: 14px;
}
