div#animation_container {
    /*background-color: #f8f9fa;*/
    border-radius: 10px;
    border: 0rem solid rgba(0, 0, 0, 0.01);
    padding: 0;
    padding-bottom: 2rem;
}

.color-primary {
    --data-section-color: #222452;
    --data-section-color-light: #3742a3;
}

.color-1 {
    --data-section-color: blue;
    --data-section-color-light: #ccf;
}

.color-2 {
    --data-section-color: indigo;
    --data-section-color-light: #ebd8ff;
}

.color-3 {
    --data-section-color: rgb(239, 32, 111);
    --data-section-color-light: #fcd2e2;
}

.color-4 {
    --data-section-color: #b24a00;
    --data-section-color-light: #fbeacc;
}

.color-5 {
    --data-section-color: green;
    --data-section-color-light: #cce6cc;
}

.color-6 {
    --data-section-color: teal;
    --data-section-color-light: #cce6e6;
}

.color-7 {
    --data-section-color: #007aaf;
    --data-section-color-light: #ccefff;;
}


.bg-light {
    background-color: #f6f6f9;
}

.set-bg {
   background-color: var(--data-section-color-light);
}

.set-border {
    border: 1px solid var(--ifm-color-primary) !important;
}

.set-color {
    color: var(--data-section-color) !important;
}

.color-red {
    color: red;
}
.color-green {
    color: green;
}


.service-name{
    font-family: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
    font-weight: 600;
}

#restate-runtime{
    font-size: 1rem;
    min-height: 43rem;
}

.set-bg-dark {
    background-color: var(--data-section-color) !important;
    color: var(--data-section-color);
}


mark.highlight{
    color: var(--data-section-color);
}

/**
MARKERS FOR TEXT
 */
mark{
    background: none;
    font-weight: 600;
    padding: 0;
}

.code-highlight{
    background-color: var(--data-section-color-light);
}

.ide_button {
    background-color: rgba(42, 30, 92,0.2);
    border-radius: 9999px;
    width: .625rem;
    height: .625rem;
    margin-right: 0.3rem;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.h-8 {
    height: 2rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f5f3fb;
}

.section_animation{
    /*-webkit-box-shadow: 0px 0px 51px 20px rgba(0, 21, 255, 0.06), 0px 0px 19px 19px rgba(53, 3, 254, 0.03);*/
    /*box-shadow: 0px 0px 51px 20px rgba(0, 21, 255, 0.06), 0px 0px 19px 19px rgba(53, 3, 254, 0.03);*/
    overflow: hidden;
    border-radius: 10px;
    border: 0rem solid rgba(0, 0, 0, 0.01);
    padding: 0;
}

.logo-animation {
    max-height: 3rem;
}

.hljs {
    background-color: #ffffff;
    text-align: left;
}

body .hljs {
    padding: 0.5rem !important;
}

.box {
    display: inline-block;
    margin: 0.07rem;
    text-align: center;
    font-size: 0.9rem;
}

.display-none {
    display: none !important;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.smaller_font {
    font-size: 0.87rem;
}
.smallest_font {
    font-size: 0.8rem;
}

#cart_service > .btn {
    display: none;
}

#ticket_service{
    margin-top: 5rem;
}

#ticket_service > .btn {
    display: none;
}

.horizontal_rpc_arrow {
    font-size: 3rem;
    line-height: 1.5rem;
}

.vertical_rpc_arrow {
    font-size: 3rem;
    line-height: 3rem;
}

#ingress {
    height: 80px;
    text-align: right;
}

.suspended {
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
    background: #fdfdff !important;
}

#playPauseButton {
    font-weight: bold;
}

/*Code highlighting*/
pre code.hljs {
    display:block;
    overflow-x:auto;
    padding:1em
}
code.hljs {
    padding:3px 5px
}
.hljs {
    background:white;
    color:black
}
.hljs-comment,
.hljs-quote,
.hljs-variable {
    color:#008000
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color:#00f
}
.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color:#a31515
}
.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color:#2b91af
}
.hljs-doctag {
    color:#808080
}
.hljs-attr {
    color:#f00
}
.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color:#00b0e8
}
.hljs-emphasis {
    font-style:italic
}
.hljs-strong {
    font-weight:bold
}

#progressBarContainer {
    justify-content: center;
    display: flex;
}

input#progressBar {
    width: 60%;
}

div#restate_journal_cart {
    border: 1px grey dotted;
    border-radius: 0.25rem;
}

div#restate_journal_ticket {
    border: 1px grey dotted;
    border-radius: 0.25rem;
}

#animation_explanation {
    height: 12rem;
    font-style: italic;
    border: 1px dotted #ececec;
    border-radius: 0.25rem;
    color: var(--ifm-menu-color);
}
