.langContainer {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.langContainer a {
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.langContainer p {
  margin-bottom: 0;
  margin-right: 4px;
}