.feature {
  text-align: center;
  position: relative;
  padding-top: 1.5rem !important;
  z-index: 1;
  border-radius: var(--ifm-card-border-radius);
  border: #f2f0fa 1px solid;
  box-shadow: 0 12px 28px 0 #f2f0fa;
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.circleFirstTime {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--ifm-navbar-link-active-color);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -1.25rem;
  z-index: 10;
}

.circleFamiliar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--ifm-restate-blue);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -1.25rem;
  z-index: 10;
}

.description{
  color: var(--ifm-menu-color);
}