.featureFirstTime {
  text-align: center;
  position: relative;
  padding-top: 1.5rem !important;
  z-index: 1;
  border-radius: var(--ifm-card-border-radius);
  border: var(--ifm-color-secondary) 2px solid;
  /*box-shadow: 0 12px 28px 0 var(--ifm-color-secondary);*/
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.featureFirstTime:hover {
  border: var(--ifm-color-secondary-darkest) 1px solid;
  box-shadow: 0 6px 12px 0 var(--ifm-color-secondary);
}

.featureFamiliar {
  text-align: center;
  position: relative;
  padding-top: 1.5rem !important;
  z-index: 1;
  border-radius: var(--ifm-card-border-radius);
  border: #e7f4ff 2px solid;
  /*box-shadow: 0 12px 28px 0 #e7f4ff;*/
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.featureFamiliar:hover {
  border: #c8f3ff 1px solid;
  box-shadow: 0 6px 12px 0 #ecf7ff;
}

.circleFirstTime {
  width: 1.9rem;
  height: 1.9rem;
  background-color: #fff;
  color: var(--ifm-navbar-link-active-color);
  border: var(--ifm-color-secondary-darkest) 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -0.8rem;
  z-index: 10;
}

.circleFamiliar {
  width: 1.9rem;
  height: 1.9rem;
  background-color: #fff;
  border: #dcebff 1px solid;
  color: var(--ifm-restate-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -0.75rem;
  z-index: 10;
}

.title{
    font-weight: 600 !important;
    margin-bottom: 0.25rem;
}

.description{
  color: var(--ifm-menu-color);
  margin-bottom: 0.25rem;
}

.text-grey {
  color: var(--ifm-menu-color);
}
