.no-left-border {
  border-left: none !important;
}

.codeContainer:hover .copyButton {
    display: block;
}

.codetablist {
    background: #f6f8fa;
    color: #57606a;
    margin-bottom: 0 !important;
    border-radius: 0.25rem 0.25rem 0 0;
    border: 2px solid #f0f2f2;
    border-bottom: none;
}

.codetab {
    background: white;
    color: black;
    border-radius: 0 0 0.25rem 0.25rem;
    border: 2px solid #f0f2f2;
    border-top: none;
}

