.no-left-border {
    border-left: none !important;
}

.codeContainer:hover .copyButton {
    display: block;
}

.codetablist {
    background: #f6f8fa;
    color: #57606a;
    margin-bottom: 0 !important;
    border-radius: 0.25rem 0.25rem 0 0;
    border: 2px solid #f0f2f2;
    border-bottom: none;
}

.codetab {
    background: white;
    color: black;
    border-radius: 0 0 0.25rem 0.25rem;
    border: 2px solid #f0f2f2;
    border-top: none;
}

.codeFileName {
    font-size: .875rem;
    line-height: 1.25rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-bottom: 2px;
    gap: 0.75rem;
    border-bottom: 1px solid  var(--ch-t-editorGroupHeader-tabsBackground);
}

.codeFileNameTitle {
    margin-left: 0.75rem;
}

.greyLine {
    border-top: 3px solid #e8e8e8;
    margin: 0;
}
