/* terminal.module.css */
.terminalBorder {
    border-radius: 0.25rem 0.25rem 0 0;
    border: 2px solid #f0f2f2;
}

.terminal {
  padding: 0;
margin-bottom: 0.5rem;
  background-color: #f6f8fa;
}

.terminalCommand .ch-codeblock {
    border: none !important;
}

.terminalArrow {
    font-size: 12px;
    margin-left: 8px;
    color: grey;
    cursor: pointer;
    padding-top: 1rem; /*Same as for the code --ifm-pre-padding*/
}

.copyButton {
  margin-left: 1rem;
}

.terminalOutput .ch-codeblock {
    border: none !important;
}

.terminalOutput pre {
    background-color: transparent;
}

button.ch-code-button:hover {
    display: none;
}

.ch-codeblock {
    border: none;
}