/* terminal.module.css */
.terminal {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  background-color: #f9f9f9;
}

.terminalCommand .ch-codeblock {
    border: none !important;
}

.copyButton {
  margin-left: 1rem;
}

/*.thinLine {*/
/*  height: 1px;*/
/*  background-color: #ccc;*/
/*  margin: 0rem 0;*/
/*}*/

.terminalOutput .ch-codeblock {
    border: none !important;
}

.terminalOutput pre {
    background-color: transparent;
}

button.ch-code-button:hover {
    display: none;
}

.ch-codeblock {
    border: none;
}