.container {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 24px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0px 40px;
  background-image: linear-gradient(
    45deg,
    hsl(234deg 50% 43%) 0%,
    hsl(234deg 49% 40%) 11%,
    hsl(234deg 48% 38%) 22%,
    hsl(235deg 47% 36%) 33%,
    hsl(235deg 47% 34%) 44%,
    hsl(236deg 46% 31%) 56%,
    hsl(236deg 45% 29%) 67%,
    hsl(236deg 44% 27%) 78%,
    hsl(237deg 43% 25%) 89%,
    hsl(238deg 41% 23%) 100%
  );
}
.container * {
  color: white;
}
.container p {
  color: white;
  opacity: 75%;
}


