/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/**
COLORS
 */



.color-observability {
    --data-section-color: #159a9c;
    --data-section-color-light: #c9e9fa;
}



.bg-light {
    background-color: #f6f6f9;
}

.bg-purple {
    background-color: #c7caff;
}



.home h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.only-on-dark {
   display: none !important;
}



.set-bg {
   background-color: var(--data-section-color-light);
}



.set-color {
    color: var(--data-section-color) !important;
}

.set-selection-card-text-color {
    color: var(--data-section-color);
}

.set-selection-card-text-color:hover,.set-selection-card-text-color:visited,.set-selection-card-text-color:active,.set-selection-card-text-color:focus{
    color: var(--data-section-color) !important;
}

.color-red {
    color: red;
}
.color-green {
    color: green;
}


.service-name{
    font-family: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
    font-weight: 600;
}

#restate-runtime{
    font-size: 1rem;
    min-height: 35rem;
}

.set-bg-dark {
    background-color: var(--data-section-color) !important;
    color: var(--data-section-color);
}


mark.highlight{
    color: var(--data-section-color);
}


.use-case-img {
    height: 10rem;
}

.use-case-img-size {
    max-height: 9rem;
}

.team-img-size {
    height: 14rem;
    border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--data-section-color-light);;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--data-section-color);
}

input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/**
MARKERS FOR TEXT
 */
mark{
    background: none;
    font-weight: 600;
    padding: 0;
}

mark.code-highlight{
    background-color: var(--data-section-color-light);
}

/**
HEADER
 */
/*Outline the menu to the right*/
.ms-lg-2 {
    margin-left: auto !important;
    margin-right: 0.5rem !important;
}


.restatename {
    width: 15rem;
    height: auto;
}

.GitHubLogo {
    width: auto;
    height: 1.5rem;
    margin-right: 7px;
    vertical-align: middle;
}

/**
INTRO VIDEO
 */
.intro_video_padding {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.intro_animation_box {
    border-radius: 10px;
}

.ide_button {
    background-color: rgba(42, 30, 92,0.2);
    border-radius: 9999px;
    width: .625rem;
    height: .625rem;
    margin-right: 0.3rem;
}



.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.h-8 {
    height: 2rem;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f5f3fb;
}




a.btn-restate {
    text-decoration: none !important;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    -webkit-appearance: button;
//text-transform: none;
}

.btn-copy, .btn-copy:hover, .btn-copy:active, .btn-copy:focus {

}

.btn-restate {
    padding: 0.3rem 3rem;
    border-radius: 10px;
    border-color: transparent;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.btn-restate:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}



.btn-primary-restate {
    /*background-color: $primary !important;*/
    border: none;
    /*color: $text-white;*/
}

.btn-primary-restate:hover, .btn-primary-restate:active {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}





#tagline {
    position: relative;
    overflow: hidden;
}

.word-typing {
    display: inline-block;
    width: 160px;
}

.word-typing::after {
    content: '|';
    -webkit-animation: blinkCursor 0.8s infinite;
    animation: blinkCursor 0.8s infinite;
}

@-webkit-keyframes blinkCursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes blinkCursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes typeAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes typeAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/**
VIDEOS / ANIMATIONS
 */
video {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

.section_animation{
//box-shadow: h-offset v-offset blur spread color, h-offset v-offset blur spread color, ...;
    -webkit-box-shadow: 0px 0px 51px 20px rgba(0, 21, 255, 0.06), 0px 0px 19px 19px rgba(53, 3, 254, 0.03);
    box-shadow: 0px 0px 51px 20px rgba(0, 21, 255, 0.06), 0px 0px 19px 19px rgba(53, 3, 254, 0.03);

    overflow: hidden;
    border-radius: 10px;
    padding: 0;
}

.logo-animation {
    max-height: 3rem;
}

.section-card {
    border-radius: 10px;
}

.selection-card {
    border-radius: 29px; /* Rounded edges */
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.selection-card:hover {
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
}
.selection-card:visited, .selection-card:focus, .selection-card:active {
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
}

.deploy-card {
    border-radius: 10px; /* Rounded edges */
    padding: 1rem;
    font-size: 1rem;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.feature-card {
    border-radius: 10px; /* Rounded edges */
}

.feature_icon {
    border-radius: 50%; /* Make it a circle */
    padding: 0.7rem; /* Adjust the padding based on your needs */
}

.section_subheader {
    color: #595959;
    font-style: italic;
    margin-bottom: 0.2rem;
}


.hljs {
    background-color: #ffffff;
    text-align: left;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.imgcolumn {
    float: left;
    width: 50%;
    padding: 10px;
}

.imgcentered {
    text-align: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Clear floats after image containers */
.imgrow::after {
    content: "";
    clear: both;
    display: table;
}


.circle {
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--data-section-color); /* You can change the color */
    color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 800;
//box-shadow: 0 0 50px 0 rgba(42, 30, 92,0.1), 0 0 10px 0 var(--data-section-color);
}

.vertical-line {
    background-color: var(--data-section-color);
    width: 0.15rem;
    height: 2rem;
}

body .hljs {
    padding: 0.5rem !important;
}

.box {
    display: inline-block;
    margin: 0.07rem;
    text-align: center;
    font-size: 0.9rem;
}

.display-none {
    display: none !important;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.smaller_font {
    font-size: 1rem;
}
.smallest_font {
    font-size: 0.8rem;
}

.color-1 {
    --data-section-color: blue;
    --data-section-color-light: #{mix(white, blue, 80%)};
}

.color-2 {
    --data-section-color: indigo;
    --data-section-color-light: #{mix(white, indigo, 80%)};
}

.color-3 {
    --data-section-color: rgb(239, 32, 111);
    --data-section-color-light: #{mix(white, rgb(239, 32, 111), 80%)};
}

.color-4 {
    --data-section-color: #b24a00;
    --data-section-color-light: #{mix(white, #ea9700, 80%)};
}

.color-5 {
    --data-section-color: green;
    --data-section-color-light: #{mix(white, green, 80%)};
}

.color-6 {
    --data-section-color: teal;
    --data-section-color-light: #{mix(white, teal, 80%)};
}

.color-7 {
    --data-section-color: #007aaf;
    --data-section-color-light: #{mix(white, #00b1ff, 80%)};
}

#cart_service > .btn {
    display: none;
}

#ticket_service > .btn {
    display: none;
}

.horizontal_rpc_arrow {
    font-size: 4.25rem;
    line-height: 1.5rem;
//vertical-align: middle;
}

.vertical_rpc_arrow {
    font-size: 3rem;
    line-height: 3rem;
//vertical-align: middle;
}

#ingress {
    height: 80px;
    text-align: right;
}

.suspended {
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
    background: #fdfdff !important;
}

#playPauseButton {
    font-weight: bold;
}

.color-gradient-1 {
    --data-section-color: #7209b7;
    --data-section-color-light: #{mix(white, #7209b7, 80%)};
}

.color-gradient-2 {
    --data-section-color: #560BAD;
    --data-section-color-light: #{mix(white, #560BAD, 80%)};
}

.color-gradient-3 {
    --data-section-color: #480CA8;
    --data-section-color-light: #{mix(white, #480CA8, 80%)};
}

.color-gradient-4 {
    --data-section-color: #3A0CA3;
    --data-section-color-light: #{mix(white, #3A0CA3, 80%)};
}

.color-gradient-5 {
    --data-section-color: #3F37C9;
    --data-section-color-light: #{mix(white, #3F37C9, 80%)};
}

.color-gradient-6 {
    --data-section-color: #4361EE;
    --data-section-color-light: #{mix(white, #4361EE, 80%)};
}

.color-gradient-7 {
    --data-section-color: #4895EF;
    --data-section-color-light: #{mix(white, #4895EF, 80%)};
}

#highlight-white{
    background-color: #FFFFFF;
    color: black;
}