/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2a1e5c;
  --ifm-color-primary-dark: #261b53;
  --ifm-color-primary-darker: #241a4e;
  --ifm-color-primary-darkest: #1d1540;
  --ifm-color-primary-light: #372778;
  --ifm-color-primary-lighter: #433093;
  --ifm-color-primary-lightest: #5039af;
  --ifm-color-accent: #3605fe;
  --ifm-code-font-size: 95%;
  --ifm-link-color: #5b42c1;
  --ifm-menu-color: #696380;
  --ifm-menu-color-active: var(--ifm-link-color);
  --ifm-font-family-base: Roboto, sans-serif;
  --ifm-restate-red: #cd1758;
  --ifm-restate-blue: #099fff;
  --ifm-restate-green:#42b015;
  --ifm-restate-lightpurple: #443196;
  --ifm-pre-background: rgb(30,30,30);
  --docusaurus-highlighted-code-line-bg: rgba(91,66,193, 0.08);
  --ifm-hover-overlay: rgba(91,66,193, 0.08);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-light);
}

h1 {
  font-size: 2.3rem;
  font-weight: 800;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

.font-size-90 {
  font-size: 90%;
}


.content_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-Content-styles-module.announcementBarContent_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module {
  font-size: 95%;
}

.menu {
  font-weight: var(--ifm-font-weight-semibold);
}
.theme-doc-sidebar-item-category-level-1.menu__list-item, .theme-doc-sidebar-item-link-level-1.menu__list-item {
  font-size: 95%;
}
.menu__link--active {
  font-weight: var(--ifm-font-weight-bold);
}

.menu__link--active:hover {
  font-weight: var(--ifm-font-weight-bold);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a3a2c3;
  --ifm-color-primary-dark: #7673a5;
  --ifm-color-primary-darker: #5c5a8c;
  --ifm-color-primary-darkest: #48466D;
  --ifm-color-primary-light: #5b42c1;
  --ifm-color-primary-lighter: #b5a9e3;
  --ifm-color-primary-lightest: #f5f3fb;
  --docusaurus-highlighted-code-line-bg: rgba(91,66,193,  0.3);
}

.bad-code-block {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.good-code-block {
  background-color: #20FF0030;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #00C400;
}


/** Buttons  */
a.overviewButton {
  background-color: #2A1E5C;
  border-color: #2A1E5C;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
a.overviewButton:hover { text-decoration: none; }

a#quickstartButton{
  background-color: var(--ifm-restate-red);
  border-color: var(--ifm-restate-red);
}

a#tourButton{
  background-color: var(--ifm-restate-lightpurple);
  border-color: var(--ifm-restate-lightpurple);
}

a#examplesButton{
  background-color: var(--ifm-restate-blue);
  border-color: var(--ifm-restate-blue);
}

#overviewButtonDiv {
  padding: 30px;
  display: inline-block;
  text-align: center;
}

#container {
  text-align: center;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.btn-lg, .btn-group-lg > .btn, .search-form .btn-group-lg > .search-submit, .comment-form .btn-group-lg > input[type="submit"] {
  padding: 1rem 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn-primary {
  color: #fff;
  background-color: #5d2f86;
  border-color: #5d2f86;
}
.btn, .search-form .search-submit, .comment-form input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #1d2d35;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/**
MARKERS FOR TEXT
 */
mark{
  background: none;
  font-weight: 600;
  padding: 0;
}

mark.purple{
  color: var(--ifm-color-primary);
}

mark.lightpurple{
  color: var(--ifm-restate-lightpurple);
}

mark.accent{
  color: var(--ifm-color-accent);
}

mark.red{
  color: var(--ifm-restate-red);
}

mark.green{
  color:var(--ifm-restate-green);
}

mark.blue{
  color: var(--ifm-restate-blue);
}

mark.highlight{
  color: var(--ifm-restate-lightpurple);
}

/**
VIDEO
 */

video {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}

#intro_video {
  box-shadow: 0 19px 51px 0 rgba(42, 30, 92,0.16), 0 14px 19px 0 rgba(42, 30, 92,0.07);
}

#videosection {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu__link {
  color: inherit;
}

.menu__link:hover {
  color: inherit;
}

.menu__link--active {
  color: var(--ifm-menu-color-active);
}

.menu__link--active:hover {
  color: var(--ifm-menu-color-active);
}

.theme-doc-sidebar-item-category-level-1 {
  font-size: 80% !important;
  color: #1e2023 !important;
  font-weight: 600 !important;
  letter-spacing: -0.02rem !important;
}

.sidebar-title {
  font-size: 80% !important;
  color: #1e2023 !important;
  font-weight: 600 !important;
  letter-spacing: -0.02rem !important;
}

.theme-doc-sidebar-item-link, .theme-doc-sidebar-item-category {
    font-size: 110%;
    font-weight: normal;
    color: #696380;
}



/* Durable primitives spotlight */
.ch-spotlight-sticker {
  width: 35rem;
}

.ch-spotlight-tab[data-selected] {
  border-color: var(--ifm-color-accent);
}