/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #48466D;
  --ifm-color-primary-dark: #3d3c5d;
  --ifm-color-primary-darker: #33324e;
  --ifm-color-primary-darkest: #29283e;
  --ifm-color-primary-light: #5c5a8c;
  --ifm-color-primary-lighter: #7673a5;
  --ifm-color-primary-lightest: #a3a2c3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a3a2c3;
  --ifm-color-primary-dark: #7673a5;
  --ifm-color-primary-darker: #5c5a8c;
  --ifm-color-primary-darkest: #48466D;
  --ifm-color-primary-light: #b3b1cd;
  --ifm-color-primary-lighter: #a3a2c3;
  --ifm-color-primary-lightest: #d1d0e1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


/* Make the Restate logo in the upper-left corner less big */
img.themedImage_node_modules-\@docusaurus-theme-classic-lib-theme-ThemedImage-styles-module.themedImage--light_node_modules-\@docusaurus-theme-classic-lib-theme-ThemedImage-styles-module {
  width: 60%;
  height: auto;
  vertical-align: middle;
}

.bad-code-block {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.good-code-block {
  background-color: #20FF0030;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #00C400;
}