

/* TOOLTIPS*/

/* Java SDK - Overview */
.java-overview-virtual-object:before {
    content: "Virtual objects expose a set of handlers with access to K/V state.";
}

.java-overview-virtual-object-handler:before {
    content: "Handler that can be invoked over HTTP or Kafka";
}


.java-overview-state-key:before {
    content: "Definition of the key used to store the state.";
}

.java-http-endpoint {
    content: "";
}

.java-http-endpoint-services {
    content: "";
}

.java-http-endpoint-listen {
    content: "";
}

.java-lambda-handler:before {
    content: "Create a class that extends BaseRestateLambdaHandler.";
}

.java-lambda-services:before {
    content: "Bind your services to the Lambda handler.";
}



/* Java SDK - Awakeables */
.awakeable-http-resolve:before{
    content: "curl <RESTATE_INGRESS_URL>/restate/awakeables/<AWAKEABLE_ID>/resolve";
}

.awakeable-http-resolve-payload:before{
    content: "JSON payload to resolve the awakeable";
}


.awakeable-http-reject:before{
    content: "curl <RESTATE_INGRESS_URL>/restate/awakeables/<AWAKEABLE_ID>/reject";
}

.awakeable-http-reject-failure:before{
    content: "Failure reason for rejecting the awakeable";
}


/* Java SDK - Kafka */
.kafka-subscription:before{
    content: "curl <RESTATE_ADMIN_URL>/subscriptions ";
}

.kafka-subscription-source:before {
    content: "Source format: kafka://<CLUSTER_NAME>/<TOPIC_NAME>";
}

.kafka-subscription-sink:before {
    content: "Sink format: component://<COMPONENT_NAME>/<METHOD_NAME>";
}

.kafka-subscription-delete:before {
    content: "curl -X DELETE <RESTATE_ADMIN_URL>/subscriptions/<SUBSCRIPTION_IDENTIFIER>";
}

.kafka-subscription-list:before {
    content: "curl <RESTATE_ADMIN_URL>/subscriptions";
}