.featureSvg {
  height: 32px;
  width: 42px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featureRow {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  width: 100%;
  row-gap: 40px;
}

@media screen and (min-width: 801px) and (max-width: 1350px) {
  .featureRow {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 800px) {
  .feature {
    flex-basis: 100%;
  }
  .featureRow {
    grid-template-columns: 1fr;
  }
}

.lang {
  padding: 0px;
}
.lang img {
  margin-bottom: 0px;
}

.langContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -8px;
}
.langContainer a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.description,
.title {
  margin-bottom: 0px;
}

.description {
  opacity: 80%;
  font-size: 14px;
}

.features {
  margin-top: 40px;
}
